.index-slider
    &>.container
            absolute($top:0,$bottom:0,$left:50%)
            z-index: 1
            transform: translateX(-50%)
    &__img
        width 100%
    &__controls
        absolute($right:70px)
        fill: #fff
        cursor: pointer
        &--next
            absolute($top:537px)
        &--prev
            absolute($top:481px)
        .icon
            absolute-center()
            size(36px)
    