mixin mainNavLink(title)
    li.main-nav__item
        a(href="javascript:void(0);").main-nav__link= title

nav.main-nav
    ul.main-nav__list
        +mainNavLink("Меблі")
        +mainNavLink("Побутова техніка")
        +mainNavLink("Зберігання вина")
        +mainNavLink("Посуд")
        +mainNavLink("Ножі")
        +mainNavLink("Бар та кришталь")
        +mainNavLink("Сервіровка")
        +mainNavLink("Кухонне начиння")
    .header-search.search
        +icon('search')
