header
    background-color: #000

.header-top    
    .container
        display: flex
        align-items: center
        justify-content: space-between
        border-bottom: 1px solid grayColor

.header-bottom
    padding: 15px 0

.icon-logo-sytahata
    size(200px, auto)
    font-size: rem(14)
    border-bottom: 1px solid grayColor

.header-nav__item
    margin-bottom: 10px
    &:last-child
        margin-bottom: 0
    .icon
        size(17px)
        fill: #fff
        margin-right: 10px
    a 
        color: white
        font-size: rem(14)
        text-decoration: underline
    
