.main-nav
    display: flex
    align-items: center
    &__list
        display: flex
    &__item
        margin-right: 30px
        &:last-child
            margin-right: 0
    &__link
        color: #fff
        font-size: rem(15)
        text-transform: uppercase
        font-family: boldFont
        letter-spacing: 1px

.header-search
    margin-left: auto
    .icon-search
        fill: #fff
        size(25px)



