.main-nav
    width: 100%
    &__list
        display: flex
        justify-content: space-between

.main-nav__link
    color: #fff
    font-size: rem(15)
    text-transform: uppercase
    font-family: boldFont
    letter-spacing: 1px
