section.index-slider
    .container
        .index-slider__controls.index-slider__controls--prev
            +icon('arrow-up')
        .index-slider__controls.index-slider__controls--next
            +icon('arrow-down')
    .js-index-slider
        .index-slider__item
            img(src="static/img/content/main-slider/slide1.jpg" alt="Слайдер на головній сторінці").index-slider__img
        .index-slider__item
            img(src="static/img/content/main-slider/slide2.jpg" alt="Слайдер на головній сторінці").index-slider__img
        .index-slider__item
            img(src="static/img/content/main-slider/slide3.jpg" alt="Слайдер на головній сторінці").index-slider__img